Question no 6

In [2]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [3]:
page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

In [4]:
page

In [5]:
soup = bs(page.content,'html.parser')

In [6]:
tittle = soup.find('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")
tittle.text

'Reward is enough'

In [7]:
all_tittle = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    all_tittle.append(i.text)
all_tittle

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [8]:
auth = soup.find('span',class_="sc-1w3fpd7-0 dnCnAO")
auth.text

'David Silver, Satinder Singh, Doina Precup, Richard S. Sutton '

In [9]:
authors = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
authors

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [10]:
date = soup.find("span",class_="sc-1thf9ly-2 dvggWt")
date.text

'October 2021'

In [11]:
dates = []
for i in soup.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
    dates.append(i.text)
dates

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [12]:
links = []
for i in soup.find_all("li", class_="sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs"):
    a_tags = i.find_all('a')
    for a in a_tags:
        links.append(a.get('href'))
links

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001788',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370223000073',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001065',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001795',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300224',
 'https://www.sciencedirect.com/science/article/pii/S0004370211000178',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001692',
 'https://www.sciencedirect.com/science/article/pii/S000437029800023X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000242']

In [13]:
df = pd.DataFrame({'Paper Title':all_tittle,'Authors':authors,'Published Date':dates,'Paper URL':links})

In [14]:
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

Question no 7

In [15]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/welcome-back')

In [16]:
page

In [17]:
soup = bs(page.content)

In [18]:
name = soup.find('a',class_="restnt-name ellipsis")

In [19]:
name.text

'Connaught Club House'

In [20]:
restoname = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    restoname.append(i.text)
restoname

['Connaught Club House',
 'Ministry Of Beer',
 'The G.T. Road',
 'Gin & Juliet',
 'My Bar Headquarters',
 'Sandoz',
 'The Junkyard Cafe',
 'Tamasha',
 'Unplugged Courtyard',
 'Local',
 'Openhouse Cafe',
 'Ardor 2.1 Restaurant and Lounge',
 'Yeti - The Himalayan Kitchen',
 'Ghoomar Traditional Thali Restaurant',
 'Farzi Cafe',
 "Berco's",
 '38 Barracks',
 'Ranisa',
 'Desi Villagio - Village Theme Restro Bar',
 'Caffe Tonino',
 'Zaffran']

In [21]:
loc= soup.find('div',class_="restnt-loc ellipsis")

In [22]:
loc.text

'Connaught Place, Central Delhi'

In [23]:
locations = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    locations.append(i.text)
locations

['Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'F-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Scindia House,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'The Colonnade,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'PVR Plaza,Connaught Place, Central Delhi',
 'Hotel Palace Heights,Connaught Place, Central Delhi']

In [24]:
rat = soup.find('div',class_="restnt-rating rating-4")
rat.text

'4.2'

In [25]:
ratings = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)
ratings

['4.2',
 '4',
 '4.3',
 '4',
 '4',
 '4',
 '4.1',
 '4.2',
 '4',
 '4',
 '4.1',
 '4.1',
 '4.3',
 '4.1',
 '4.1',
 '4.3',
 '4.3',
 '4.3',
 '4.1',
 '4.4',
 '4.4']

In [26]:
image = soup.find('img',class_="no-img")
image['data-src']

'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium'

In [27]:
image_url=[]
for i in soup.find_all('img',class_="no-img"):
    image_url.append(i['data-src'])
image_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/l/q/p971-16946056676501a163bf712.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/d/f/p19636-16463919576221f295ae1f1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/s/y/p20298-1664186585633178d99f1db.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/y/p20941-168915645564ae7b673b872.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/e/q/p19748-169217151564dc7cfba4753.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/m/p221-16455303976214cd1d7a086.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/c/p3007-15706949095d9ee6fd0b8b4.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/e/z/p53380-15544492915ca7038b700f1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/y/y/p4199-164188203361dd21b1a3174.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/t/u/p237-16468990666229af7a72b08.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/j/p21171-166019927162f4a167b10af.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/x/k/p87447-161588804660507eaee6e94.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/z/c/p19259-1686039280647eeaf0c8440.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/o/b/p1317-15164263275a62d457c112d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/k/v/p3094-1617661641606b8ec9027d2.JPG?tr=tr:n-medium']

In [28]:
cuisine = soup.find('span',class_="double-line-ellipsis")
cuisine.text

'₹ 1,800 for 2 (approx) | North Indian, Continental, Asian, Chinese'

In [29]:
import re
cuisines = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    text = i.text
    pattern = r'₹ [\d,]+ for \d+ \(approx\) \|'
    g=re.sub(pattern,'',text)
    cuisines.append(g)
cuisines

[' North Indian, Continental, Asian, Chinese',
 ' North Indian, Continental, American, Asian',
 ' North Indian',
 ' Italian, Chinese, North Indian, Fast Food',
 ' North Indian, Chinese',
 ' North Indian, Continental',
 ' North Indian, Continental, Chinese, Fast Food',
 ' Continental, Asian, Italian, North Indian',
 ' North Indian, Italian, Chinese, Turkish, Continental',
 ' North Indian, Asian, Continental',
 ' North Indian, Asian, Italian',
 ' North Indian, Chinese, Italian, Continental',
 ' Tibetan, Nepalese',
 ' North Indian, Rajasthani',
 ' Modern Indian, Continental, Finger Food',
 ' Chinese, Thai',
 ' North Indian, Chinese, Continental',
 ' Rajasthani',
 ' North Indian',
 ' Italian, Beverages',
 ' Mughlai, North Indian']

In [30]:
import pandas as pd

In [31]:
df = pd.DataFrame({'Restaurant name':restoname,'Cuisine':cuisines,'Location':locations,'Ratings':ratings,'Image URL':image_url})

In [32]:
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Connaught Club House,"North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,The G.T. Road,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Gin & Juliet,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
4,My Bar Headquarters,"North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Sandoz,"North Indian, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
8,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
9,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
10,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
12,Yeti - The Himalayan Kitchen,"Tibetan, Nepalese","The Colonnade,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
13,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
14,Farzi Cafe,"Modern Indian, Continental, Finger Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
15,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,Ranisa,Rajasthani,"Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,Desi Villagio - Village Theme Restro Bar,North Indian,"Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
19,Caffe Tonino,"Italian, Beverages","PVR Plaza,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
20,Zaffran,"Mughlai, North Indian","Hotel Palace Heights,Connaught Place, Central ...",4.4,https://im1.dineout.co.in/images/uploads/resta...

Question no 3

In [33]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [34]:
page

In [35]:
soup = bs(page.content)

In [36]:
top_teams = soup.find('span',class_="u-hide-phablet")
top_teams.text

'India'

In [37]:
top_teams = []
for i in soup.find_all('span',class_="u-hide-phablet"):
    top_teams.append(i.text)
top_teams

['India',
 'Pakistan',
 'South Africa',
 'Australia',
 'New Zealand',
 'England',
 'Sri Lanka',
 'Bangladesh',
 'Afghanistan',
 'West Indies',
 'Zimbabwe',
 'Scotland',
 'Ireland',
 'Netherlands',
 'Nepal',
 'Namibia',
 'United States',
 'Oman',
 'UAE']

In [38]:
match= soup.find('td',class_="rankings-block__banner--matches")
match.text

'47'

In [39]:
matches=[]
matches.append(match.text)

In [40]:
matches

['47']

In [41]:
point = soup.find('td',class_="rankings-block__banner--points")
point.text

'5,542'

In [42]:
points = []
points.append(point.text)

In [43]:
points

['5,542']

In [44]:
rat = soup.find("td",class_="rankings-block__banner--rating u-text-right")
rat.text.strip()

'118'

In [45]:
ratings = []
ratings.append(rat.text.strip())

In [46]:
ratings

['118']

In [47]:
len(top_teams)

19

In [48]:
matched = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    matched.append(i.text)
matched

['30',
 '3,435',
 '26',
 '2,853',
 '33',
 '3,588',
 '36',
 '3,808',
 '31',
 '3,253',
 '40',
 '3,633',
 '38',
 '3,448',
 '23',
 '1,796',
 '38',
 '2,582',
 '30',
 '1,641',
 '33',
 '1,662',
 '25',
 '1,083',
 '30',
 '1,098',
 '42',
 '1,446',
 '28',
 '813',
 '31',
 '808',
 '24',
 '525',
 '41',
 '617']

In [49]:
matches

['47']

In [50]:
matches.append(point.text)

In [51]:
matches

['47', '5,542']

In [52]:
matched.insert(0,'47')

In [53]:
matched.insert(1,'5,542')

In [54]:

data = [matched[i:i+2] for i in range(0, len(matched), 2)]

In [55]:
df = pd.DataFrame(data, columns=['Matches', 'Points'])

print(df)

   Matches Points
0       47  5,542
1       30  3,435
2       26  2,853
3       33  3,588
4       36  3,808
5       31  3,253
6       40  3,633
7       38  3,448
8       23  1,796
9       38  2,582
10      30  1,641
11      33  1,662
12      25  1,083
13      30  1,098
14      42  1,446
15      28    813
16      31    808
17      24    525
18      41    617

In [56]:
df['team']= pd.DataFrame(top_teams)

In [57]:
df

   Matches Points           team
0       47  5,542          India
1       30  3,435       Pakistan
2       26  2,853   South Africa
3       33  3,588      Australia
4       36  3,808    New Zealand
5       31  3,253        England
6       40  3,633      Sri Lanka
7       38  3,448     Bangladesh
8       23  1,796    Afghanistan
9       38  2,582    West Indies
10      30  1,641       Zimbabwe
11      33  1,662       Scotland
12      25  1,083        Ireland
13      30  1,098    Netherlands
14      42  1,446          Nepal
15      28    813        Namibia
16      31    808  United States
17      24    525           Oman
18      41    617            UAE

In [58]:
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    ratings.append(i.text.strip())
    
ratings

['118',
 '115',
 '110',
 '109',
 '106',
 '105',
 '91',
 '91',
 '78',
 '68',
 '55',
 '50',
 '43',
 '37',
 '34',
 '29',
 '26',
 '22',
 '15']

In [59]:
df['ratings']=pd.DataFrame(ratings)

In [60]:
table = df.head(10)

In [61]:
table

  Matches Points          team ratings
0      47  5,542         India     118
1      30  3,435      Pakistan     115
2      26  2,853  South Africa     110
3      33  3,588     Australia     109
4      36  3,808   New Zealand     106
5      31  3,253       England     105
6      40  3,633     Sri Lanka      91
7      38  3,448    Bangladesh      91
8      23  1,796   Afghanistan      78
9      38  2,582   West Indies      68

part 2

In [62]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = bs(page.content)

In [63]:
odi_batsman = []
for i in soup.find_all('td',class_="table-body__cell name"):
    odi_batsman.append(i.text.strip())
#odi_batsman

In [64]:
odi_teams = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    odi_teams.append(i.text.strip())
#odi_teams

In [65]:
odi_ratings = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    odi_ratings.append(i.text.strip())
#odi_ratings

In [66]:
a=soup.find('div',class_="rankings-block__banner--name")
a.text.strip()

'Babar Azam'

In [67]:
odi_batsman.insert(0,a.text.strip())

In [68]:
#odi_batsman

In [69]:
odi_teams.insert(0,'PAK')

In [70]:
#odi_teams

In [71]:
c = soup.find('div',class_="rankings-block__banner--rating")
c.text.strip()

'829'

In [72]:
odi_ratings.insert(0,c.text.strip())

In [73]:
#odi_ratings

In [74]:
df = pd.DataFrame({'Batsman':odi_batsman,'Team':odi_teams,'Rating':odi_ratings})

In [75]:
table = df.head(10)

In [76]:
table

                 Batsman Team Rating
0             Babar Azam  PAK    829
1           Shubman Gill  IND    823
2        Quinton de Kock   SA    769
3       Heinrich Klaasen   SA    756
4           David Warner  AUS    747
5            Virat Kohli  IND    747
6           Harry Tector  IRE    729
7           Rohit Sharma  IND    725
8  Rassie van der Dussen   SA    716
9            Imam-ul-Haq  PAK    704

part 3

In [77]:
bowlers = []
team =[]
rating=[]

In [78]:
for i in soup.find_all('td',class_="table-body__cell name"):
    bowlers.append(i.text.strip())
#bowlers

In [79]:
bowlers = bowlers[9:18]

In [80]:
bowlers

['Mohammed Siraj',
 'Keshav Maharaj',
 'Rashid Khan',
 'Trent Boult',
 'Mohammad Nabi',
 'Adam Zampa',
 'Matt Henry',
 'Kuldeep Yadav',
 'Shaheen Afridi']

In [81]:
for i in soup.find_all('td',class_="table-body__cell nationality-logo"):
    team.append(i.text.strip())
#team

In [82]:
team =team[9:18]

In [83]:
team

['IND', 'SA', 'AFG', 'NZ', 'AFG', 'AUS', 'NZ', 'IND', 'PAK']

In [84]:
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text.strip())
#rating

In [85]:
rating = rating[9:18]

In [86]:
rating

['668', '656', '654', '653', '641', '635', '634', '632', '625']

In [87]:
rating.insert(0,'670')

In [88]:
rating

['670', '668', '656', '654', '653', '641', '635', '634', '632', '625']

In [89]:
team.insert(0,"AUS")

In [90]:
team

['AUS', 'IND', 'SA', 'AFG', 'NZ', 'AFG', 'AUS', 'NZ', 'IND', 'PAK']

In [91]:
bowlers.insert(0,'Josh Hazlewood')

In [92]:
bowlers

['Josh Hazlewood',
 'Mohammed Siraj',
 'Keshav Maharaj',
 'Rashid Khan',
 'Trent Boult',
 'Mohammad Nabi',
 'Adam Zampa',
 'Matt Henry',
 'Kuldeep Yadav',
 'Shaheen Afridi']

In [93]:
df = pd.DataFrame({'bowlers':bowlers,"team":team,"rating":rating})

In [94]:
df

          bowlers team rating
0  Josh Hazlewood  AUS    670
1  Mohammed Siraj  IND    668
2  Keshav Maharaj   SA    656
3     Rashid Khan  AFG    654
4     Trent Boult   NZ    653
5   Mohammad Nabi  AFG    641
6      Adam Zampa  AUS    635
7      Matt Henry   NZ    634
8   Kuldeep Yadav  IND    632
9  Shaheen Afridi  PAK    625

Question no 4

In [95]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [96]:
soup = bs(page.content)

In [97]:
teams = soup.find("span",class_ ="u-hide-phablet")
teams.text

'Australia'

In [98]:
all_teams =[]
for i in soup.find_all("span",class_ ="u-hide-phablet"):
    all_teams.append(i.text)
all_teams

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Sri Lanka',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [99]:
matches_points =[]
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    matches_points.append(i.text)
matches_points

['23',
 '2,991',
 '21',
 '2,446',
 '18',
 '1,745',
 '21',
 '2,014',
 '18',
 '1,610',
 '9',
 '714',
 '11',
 '816',
 '11',
 '753',
 '21',
 '1,435',
 '13',
 '418',
 '9',
 '94',
 '7',
 '0']

In [100]:
matches = matches_points[::2]

In [101]:
matches

['23', '21', '18', '21', '18', '9', '11', '11', '21', '13', '9', '7']

In [102]:
points = matches_points[1::2]

In [103]:
points

['2,991',
 '2,446',
 '1,745',
 '2,014',
 '1,610',
 '714',
 '816',
 '753',
 '1,435',
 '418',
 '94',
 '0']

In [104]:
ratings = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
ratings

['130', '116', '97', '96', '89', '79', '74', '68', '68', '32', '10', '0']

In [105]:
ratings.insert(0,'162')

In [106]:
ratings

['162',
 '130',
 '116',
 '97',
 '96',
 '89',
 '79',
 '74',
 '68',
 '68',
 '32',
 '10',
 '0']

In [107]:
points.insert(0,'3084')

In [108]:
points

['3084',
 '2,991',
 '2,446',
 '1,745',
 '2,014',
 '1,610',
 '714',
 '816',
 '753',
 '1,435',
 '418',
 '94',
 '0']

In [109]:
matches.insert(0,'19')

In [110]:
matches

['19', '23', '21', '18', '21', '18', '9', '11', '11', '21', '13', '9', '7']

In [111]:
df = pd.DataFrame({'teams':all_teams,'matches':matches,'points':points,'ratings':ratings})

In [112]:
df = df.head(10)

In [113]:
df

          teams matches points ratings
0     Australia      19   3084     162
1       England      23  2,991     130
2  South Africa      21  2,446     116
3         India      18  1,745      97
4   New Zealand      21  2,014      96
5   West Indies      18  1,610      89
6     Sri Lanka       9    714      79
7    Bangladesh      11    816      74
8      Thailand      11    753      68
9      Pakistan      21  1,435      68

part 2

In [114]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [115]:
soup = bs(page.content)

In [116]:
players = []
for i in soup.find_all("td", class_="table-body__cell name"):
    a_tags = i.find_all('a')
    for a in a_tags:
        players.append(a.text)

In [117]:
players

['Beth Mooney',
 'Chamari Athapaththu',
 'Laura Wolvaardt',
 'Smriti Mandhana',
 'Alyssa Healy',
 'Ellyse Perry',
 'Harmanpreet Kaur',
 'Meg Lanning',
 'Marizanne Kapp',
 'Shabnim Ismail',
 'Jess Jonassen',
 'Megan Schutt',
 'Ashleigh Gardner',
 'Ayabonga Khaka',
 'Kate Cross',
 'Hayley Matthews',
 'Deepti Sharma',
 'Marizanne Kapp',
 'Ashleigh Gardner',
 'Natalie Sciver-Brunt',
 'Hayley Matthews',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ellyse Perry',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [118]:
women_batsman = players[:9]

In [119]:
women_batsman.insert(0,'Natalie Sciver-Brunt')

In [120]:
women_batsman

['Natalie Sciver-Brunt',
 'Beth Mooney',
 'Chamari Athapaththu',
 'Laura Wolvaardt',
 'Smriti Mandhana',
 'Alyssa Healy',
 'Ellyse Perry',
 'Harmanpreet Kaur',
 'Meg Lanning',
 'Marizanne Kapp']

In [121]:
women_allrounders = players[18:]

In [122]:
women_allrounders.insert(0,'Marizanne Kapp')

In [123]:
women_allrounders

['Marizanne Kapp',
 'Ashleigh Gardner',
 'Natalie Sciver-Brunt',
 'Hayley Matthews',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ellyse Perry',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [124]:
teams = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    teams.append(i.text)
teams

['AUS',
 'SL',
 'SA',
 'IND',
 'AUS',
 'AUS',
 'IND',
 'AUS',
 'SA',
 'SA',
 'AUS',
 'AUS',
 'AUS',
 'SA',
 'ENG',
 'WI',
 'IND',
 'SA',
 'AUS',
 'ENG',
 'WI',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'NZ',
 'PAK']

In [125]:
batting_teams = teams[:9]

In [126]:
batting_teams.insert(0,'ENG')

In [127]:
batting_teams

['ENG', 'AUS', 'SL', 'SA', 'IND', 'AUS', 'AUS', 'IND', 'AUS', 'SA']

In [128]:
all_r_teams= teams[18:]

In [129]:
all_r_teams.insert(0,"SA")

In [130]:
all_r_teams

['SA', 'AUS', 'ENG', 'WI', 'NZ', 'IND', 'AUS', 'AUS', 'NZ', 'PAK']

In [131]:
ratings = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
ratings

['750',
 '736',
 '727',
 '708',
 '698',
 '697',
 '694',
 '662',
 '642',
 '680',
 '662',
 '658',
 '652',
 '640',
 '628',
 '625',
 '607',
 '600',
 '377',
 '360',
 '358',
 '346',
 '312',
 '282',
 '227',
 '227',
 '224']

In [132]:
batting_ratings = ratings[:9]

In [133]:
batting_ratings.insert(0,'807')

In [134]:
batting_ratings

['807', '750', '736', '727', '708', '698', '697', '694', '662', '642']

In [135]:
all_r_ratings = ratings[18:]

In [136]:
all_r_ratings.insert(0,"385")

In [137]:
all_r_ratings

['385', '377', '360', '358', '346', '312', '282', '227', '227', '224']

In [138]:
df = pd.DataFrame({'teams':batting_teams,'batsman':women_batsman,'ratings':batting_ratings})

In [139]:
df

  teams               batsman ratings
0   ENG  Natalie Sciver-Brunt     807
1   AUS           Beth Mooney     750
2    SL   Chamari Athapaththu     736
3    SA       Laura Wolvaardt     727
4   IND       Smriti Mandhana     708
5   AUS          Alyssa Healy     698
6   AUS          Ellyse Perry     697
7   IND      Harmanpreet Kaur     694
8   AUS           Meg Lanning     662
9    SA        Marizanne Kapp     642

part 3

In [140]:
df = pd.DataFrame({"all_rounders":women_allrounders,'teams':all_r_teams,'ratings':all_r_ratings})

In [141]:
df

           all_rounders teams ratings
0        Marizanne Kapp    SA     385
1      Ashleigh Gardner   AUS     377
2  Natalie Sciver-Brunt   ENG     360
3       Hayley Matthews    WI     358
4           Amelia Kerr    NZ     346
5         Deepti Sharma   IND     312
6          Ellyse Perry   AUS     282
7         Jess Jonassen   AUS     227
8         Sophie Devine    NZ     227
9              Nida Dar   PAK     224

Question no 1

In [142]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [143]:
soup = bs(page.content)

In [145]:
header_tags = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])
texts = []
tags = []
for header in header_tags:
    texts.append(header.text)
    tags.append(header.name)
df = pd.DataFrame({'text':texts,'tags':tags})
print(df)

                            text tags
0                      Main Page   h1
1           Welcome to Wikipedia   h1
2  From today's featured article   h2
3               Did you know ...   h2
4                    In the news   h2
5                    On this day   h2
6       Today's featured picture   h2
7       Other areas of Wikipedia   h2
8    Wikipedia's sister projects   h2
9            Wikipedia languages   h2

Question no 5

In [ ]:
page = requests.get("https://www.cnbc.com/world/?region=world")

In [ ]:
soup = bs(page.content)

In [ ]:
all_news = soup.find('')

In [ ]:
all_news = []
for i in soup.find_all("div", class_="LatestNews-headlineWrapper"):
    a_tags = i.find_all('a')
    for a in a_tags:
        all_news.append(a.text)

In [ ]:
all_news

In [ ]:
news_link = []
for i in soup.find_all("div", class_="LatestNews-headlineWrapper"):
    a_tags = i.find_all('a')
    for a in a_tags:
        news_link.append(a.get('href'))
news_link

In [ ]:
len(news_link)

In [ ]:
len(all_news)

In [ ]:
news_link = news_link[:30]

In [ ]:
news_link

In [ ]:
all_news = all_news[:30]

In [ ]:
all_news

In [ ]:
time = []
for i in soup.find_all("time",class_="LatestNews-timestamp"):
    time.append(i.text)
time

In [ ]:
len(time)

In [ ]:
df = pd.DataFrame({'Headline':all_news,"Time":time,'News Link':news_link})

In [ ]:
df