# NAME - ANIRBAN RANA

# BATCH - DS2309

In [1]:
import selenium
import pandas as pd 
import numpy as np 
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,TimeoutException,ElementClickInterceptedException
import requests

# Question no 1

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [15]:
video_name=[]
artist = []
upload_date =[]
views =[]
all_data = []

for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[0:30]:
    video_name.append(i.text)

In [17]:
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[0:30]:
    artist.append(i.text)

In [19]:
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[0:30]:
    views.append(i.text)

In [24]:
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')[0:30]:
    upload_date.append(i.text)

In [28]:
rank = []
for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[0:30]:
    rank.append(i.text)

In [30]:
df = pd.DataFrame({'Rank':rank,'Name':video_name,'Artist':artist,'Upload Date':upload_date,'Views':views})

In [31]:
df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.32
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.14
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.09
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.09
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.01
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.96
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.48
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.16
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.92
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.91
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.78
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.76
20,21.,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.69
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.63
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.60
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.56
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.55
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.52
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.50

In [33]:
driver.close()

# Question no 3

In [34]:
driver = webdriver.Chrome()

In [35]:
driver.get('http://statisticstimes.com/ ')

In [38]:
economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [39]:
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [40]:
gis = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gis.click()

In [41]:
rank=[]
state=[]
gsdp_1819=[]
gsdp_1920=[]
share_1819=[]
gdp=[]

In [42]:
for i in driver.find_elements(By.XPATH,'//td[@class="data1"]')[0:33]:
    rank.append(i.text)

In [44]:
for i in driver.find_elements(By.XPATH,'//td[@class="name"]')[0:33]:
    state.append(i.text)

In [46]:
for i in driver.find_elements(By.XPATH,'//td[@class="data"][1]')[0:33]:
    gsdp_1920.append(i.text)

In [48]:
for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')[0:33]:
    gsdp_1819.append(i.text)

In [50]:
for i in driver.find_elements(By.XPATH,'//td[@class="data"][2]')[0:33]:
    share_1819.append(i.text)

In [52]:
for i in driver.find_elements(By.XPATH,'//td[@class="data"][3]')[0:33]:
    gdp.append(i.text)

In [54]:
df = pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':gsdp_1920,'GSDP(18-19)':gsdp_1819,'SHARE(18-19)':share_1819,'GDP':gdp})

In [55]:
df

,Rank,State,GSDP(19-20),GSDP(18-19),SHARE(18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [56]:
driver.close()

# Question no 4

In [178]:
driver = webdriver.Chrome()

In [179]:
driver.get('https://github.com/ ')

In [97]:
open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [98]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [99]:
name =[]
for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a'):
    name.append(i.text)

In [100]:
desc = []
line = driver.find_elements(By.XPATH, '//article[@class="Box-row"]')

for i in line:
    try:
        description = i.find_element(By.XPATH, './/p[@class="col-9 color-fg-muted my-1 pr-4"]').text
    except NoSuchElementException:
        description = '-'
    desc.append(description)

In [101]:
lang=[]
line = driver.find_elements(By.XPATH, '//article[@class="Box-row"]')
for i in line:
    try:
        language = i.find_element(By.XPATH,'.//span[@class="d-inline-block ml-0 mr-3"]/span[2]').text
    except NoSuchElementException:
        language = '-'
    lang.append(language)

In [105]:
df = pd.DataFrame({'Name':name,'Description':desc,'Language':lang})

In [106]:
df

,Name,Description,Language
0,run-llama / rags,-,Python
1,lllyasviel / Fooocus,Focus on prompting and generating,Python
2,flowtyone / flowty-realtime-lcm-canvas,A realtime sketch to image demo using LCM and ...,Python
3,emilwallner / Screenshot-to-code,A neural network that transforms a design mock...,HTML
4,joschan21 / digitalhippo,A Modern Fullstack E-Commerce Marketplace for ...,TypeScript
5,Stability-AI / generative-models,Generative Models by Stability AI,Python
6,fanmingming / live,✯ 一个国内可直连的直播源分享项目 ✯ 🔕 永久免费 直连访问 完整开源 不含广告 完善的台...,JavaScript
7,louislam / uptime-kuma,A fancy self-hosted monitoring tool,JavaScript
8,AppFlowy-IO / AppFlowy,AppFlowy is an open-source alternative to Noti...,Dart
9,BuilderIO / gpt-crawler,Crawl a site to generate knowledge files to cr...,TypeScript
10,openai / whisper,Robust Speech Recognition via Large-Scale Weak...,Python
11,MrNeRF / awesome-3D-gaussian-splatting,Curated list of papers and resources focused o...,-
12,microsoft / generative-ai-for-beginners,"12 Lessons, Get Started Building with Generati...",Jupyter Notebook
13,oobabooga / text-generation-webui,A Gradio web UI for Large Language Models. Sup...,Python
14,angular / angular,Deliver web apps with confidence 🚀,TypeScript
15,PKU-YuanGroup / Video-LLaVA,Video-LLaVA: Learning United Visual Representa...,Python
16,trungdq88 / Awesome-Black-Friday-Cyber-Monday,"Awesome deals on Black Friday: Apps, SaaS, Boo...",-
17,jwasham / coding-interview-university,A complete computer science study plan to beco...,-
18,php / php-src,The PHP Interpreter,C
19,mRs- / Black-Friday-Deals,Black Friday Deals for macOS / iOS Software & ...,Swift
20,1Panel-dev / 1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,Go
21,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,Python
22,apify / crawlee,Crawlee—A web scraping and browser automation ...,TypeScript
23,antirez / smallchat,A minimal programming example for a chat server,C

In [ ]:
driver.close()

# Question no 5

In [112]:
driver = webdriver.Chrome()

In [113]:
driver.get('https:/www.billboard.com/')
time.sleep(5)

In [114]:
charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()
time.sleep(5)

In [115]:
hot_100 = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
hot_100.click()
time.sleep(4)

In [116]:
song=[]
artist=[]
lwr=[]
pr=[]
wob=[]

In [118]:
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3'):
    song.append(i.text)

In [121]:
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span[1]'):
    artist.append(i.text)

In [124]:
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span[1]'):
    lwr.append(i.text)

In [126]:
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span[1]'):
    pr.append(i.text)

In [128]:
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span[1]'):
    wob.append(i.text)

In [130]:
df = pd.DataFrame({'Song Name':song,'Artist':artist,'Last week rank':lwr,'Peak rank':pr,'Weeks on board':wob})

In [131]:
df

,Song Name,Artist,Last week rank,Peak rank,Weeks on board
0,Cruel Summer,Taylor Swift,1,1,28
1,Lovin On Me,Jack Harlow,-,2,1
2,Paint The Town Red,Doja Cat,2,1,15
3,Snooze,SZA,4,2,49
4,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,1,3
...,...,...,...,...,...
95,Mi Ex Tenia Razon,Karol G,91,22,13
96,Different 'Round Here,Riley Green Featuring Luke Combs,-,97,1
97,But I Got A Beer In My Hand,Luke Bryan,98,92,5
98,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,99,1
99,Soak City (Do It),310babii,-,100,1

In [132]:
driver.close()

# Question no 6

In [133]:
driver = webdriver.Chrome()

In [134]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [135]:
title =[]
for i in driver.find_elements(By.XPATH,'//tbody/tr/td[2]'):
    title.append(i.text)

In [138]:
author =[]
for i in driver.find_elements(By.XPATH,'//tbody/tr/td[3]'):
    author.append(i.text)

In [141]:
vol =[]
for i in driver.find_elements(By.XPATH,'//tbody/tr/td[4]'):
    vol.append(i.text)

In [144]:
pub =[]
for i in driver.find_elements(By.XPATH,'//tbody/tr/td[5]'):
    pub.append(i.text)

In [147]:
genre =[]
for i in driver.find_elements(By.XPATH,'//tbody/tr/td[6]'):
    genre.append(i.text)

In [151]:
df = pd.DataFrame({'Book Name':title,'Author':author,'Volumes sold':vol,'Publisher':pub,'Genre':genre})

In [152]:
df

,Book Name,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [153]:
driver.close()

# Question no 7

In [154]:
driver = webdriver.Chrome()

In [155]:
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(5)

In [156]:
name=[]
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a'):
    name.append(i.text)

In [159]:
span=[]
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]'):
    span.append(i.text)

In [162]:
genre=[]
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]'):
    genre.append(i.text)

In [165]:
run=[]
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]'):
    run.append(i.text)

In [168]:
ratings=[]
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]'):
    ratings.append(i.text)

In [171]:
votes=[]
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]'):
    votes.append(i.text)

In [174]:
df = pd.DataFrame({'Name':name,'Year Span':span,'Genre':genre,'Run Time':run,'Ratings':ratings,'Votes':votes})

In [175]:
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,224,760"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,292,057"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,055,439"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"309,924"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,047"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,226"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,320"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,014"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,355"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,491"

In [176]:
driver.close()

# Question no 8

In [35]:
driver = webdriver.Chrome()

In [36]:
driver.get('https://archive.ics.uci.edu/')
time.sleep(4)

In [37]:
view = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view.click()

In [65]:
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
name=[]
datatype=[]
task=[]
att_type=[]
year=[]
noi=[]
noa=[]
start = 0
end = 4
expand = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')

for i in range(start,end):
    expand = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
    expand.click()
    time.sleep(3)
    try:
        for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a'):
            name.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        name.append('-')
        
    
    try:
        for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span'):
            datatype.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        datatype.append('-')
        
    
    try:
        for i in driver.find_elements(By.XPATH,'//div[1][@class="col-span-3 flex items-center gap-2"]/span[1]'):
            task.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        task.append('-')
        
    
    try:
        for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]'):
            att_type.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        att_type.append('-')
        
    
    try:
        for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]'):
            year.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        year.append('-')
        
    
    try:
        for i in driver.find_elements(By.XPATH,'//div[3][@class="col-span-3 flex items-center gap-2"]/span'):
            noi.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        noi.append('-')
        
    
    try:
        for i in driver.find_elements(By.XPATH,'//div[4][@class="col-span-3 flex items-center gap-2"]/span'):
            noa.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        noa.append('-')
    
    
    
  
    
    try:
        next_button = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        driver.execute_script("arguments[0].click();", next_button)
    except Exception as e:
        print("An error occurred: ", e)

    
    time.sleep(5)
    expand.click()

In [68]:
df = pd.DataFrame({'Dataset Name':name,'DataType':datatype,'Task':task,'Attribute Type':att_type,'No of instances':noi,'No of attribute':noa,'Year':year})

In [69]:
df

,Dataset Name,DataType,Task,Attribute Type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
5,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A
6,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
10,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features,4/27/1987
11,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012
12,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4.18K Instances,8 Features,12/1/1995
13,Census Income,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
14,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1K Instances,20 Features,11/17/1994
15,Breast Cancer,Multivariate,Classification,Categorical,286 Instances,9 Features,7/11/1988
16,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205 Instances,25 Features,5/19/1987
17,Student Performance,Multivariate,"Classification, Regression",Integer,649 Instances,33 Features,11/27/2014
18,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398 Instances,7 Features,7/7/1993
19,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699 Instances,9 Features,7/15/1992
20,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541.91K Instances,8 Features,11/6/2015
21,Predict students' dropout and academic success,Tabular,Classification,N/A,4.42K Instances,36 Features,12/13/2021
22,Glass Identification,Multivariate,Classification,Real,214 Instances,9 Features,9/1/1987
23,Spambase,Multivariate,Classification,"Integer, Real",4.6K Instances,57 Features,7/1/1999
24,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7.2K Instances,5 Features,1/1/1987
25,Credit Approval,Multivariate,Classification,"Categorical, Integer, Real",690 Instances,15 Features,N/A
26,Optical Recognition of Handwritten Digits,Multivariate,Classification,Integer,5.62K Instances,64 Features,7/1/1998
27,Zoo,Multivariate,Classification,"Categorical, Integer",101 Instances,16 Features,5/15/1990
28,Online Retail II,"Multivariate, Sequential, Time-Series, Text","Classification, Regression, Clustering","Integer, Real",1.07M Instances,8 Features,9/21/2019
29,default of credit card clients,Multivariate,Classification,"Integer, Real",30K Instances,24 Features,1/26/2016
30,Air Quality,"Multivariate, Time-Series",Regression,Real,9.36K Instances,15 Features,3/23/2016
31,Lung Cancer,Multivariate,Classification,Integer,32 Instances,56 Features,5/1/1992
32,Liver Disorders,Multivariate,Regression,"Categorical, Integer, Real",345 Instances,5 Features,5/15/1990
33,Human Activity Recognition Using Smartphones,"Multivariate, Time-Series","Classification, Clustering",,10.3K Instances,561 Features,12/10/2012
34,Covertype,Multivariate,Classification,"Categorical, Integer",581.01K Instances,54 Features,8/1/1998
35,Bike Sharing Dataset,Univariate,Regression,"Integer, Real",17.39K Instances,16 Features,12/20/2013
36,Ionosphere,Multivariate,Classification,"Integer, Real",351 Instances,34 Features,1/1/1989
37,Letter Recognition,Multivariate,Classification,Integer,20K Instances,16 Features,1/1/1991
38,Internet Advertisements,Multivariate,Classification,"Categorical, Integer, Real",3.28K Instances,1.56K Features,7/1/1998
39,Hepatitis,Multivariate,Classification,"Categorical, Integer, Real",155 Instances,19 Features,11/1/1988

In [ ]:
#  I scrapped only 40 data

In [105]:
driver.close()

# Question no 2

In [136]:
import time
driver = webdriver.Chrome()

In [137]:
driver.get('https://www.bcci.tv/')
time.sleep(4)

In [138]:
fixtures = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
fixtures.click()

In [167]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
delay=10
series=[]
g_name=[]
date=[]
times=[]
place=[]
for i in range(0,6):
    try:
        for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
            series.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
            series.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]//span[1]'):

            g_name.append(i.get_attribute('textContent'))
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]//span[1]'):

            g_name.append(i.get_attribute('textContent'))
            

    line = driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]')

    for i in line:
        try:
            plc = i.find_element(By.XPATH, './/span[@class="ng-binding"]').text
        except NoSuchElementException:
            plc = '-'
        place.append(plc)

    try:
        for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
            date.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
            date.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
            times.append(i.text)
    except (StaleElementReferenceException, NoSuchElementException ,TimeoutException) as e:
        for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
            times.append(i.text)
        
        
    try:
        
        more_button = driver.find_element(By.XPATH, '/html/body/section/div/div/div/div/div/div[2]/div[2]/div[2]/div/button')
        driver.execute_script("arguments[0].click();", more_button)
        time.sleep(2)
    except NoSuchElementException:
        break

In [175]:
df = pd.DataFrame({'Series':series,'Ground Name':g_name,'Place':place,'Date':date,'Time':times})

In [176]:
df

,Series,Ground Name,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium,",Thiruvananthapuram,"26 NOVEMBER, 2023",7:00 PM IST
1,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu,",Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
2,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu,",Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium,",Guwahati,"28 NOVEMBER, 2023",7:00 PM IST
4,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,",Mumbai,"29 NOVEMBER, 2023",1:30 PM IST
5,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,",Mumbai,"1 DECEMBER, 2023",1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,Raipur,"1 DECEMBER, 2023",7:00 PM IST
7,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,",Mumbai,"3 DECEMBER, 2023",1:30 PM IST
8,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,",Bengaluru,"3 DECEMBER, 2023",7:00 PM IST
9,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"6 DECEMBER, 2023",7:00 PM IST
10,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"9 DECEMBER, 2023",7:00 PM IST
11,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"10 DECEMBER, 2023",7:00 PM IST
12,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead,",Durban,"10 DECEMBER, 2023",9:30 PM IST
13,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park,",Gqeberha,"12 DECEMBER, 2023",9:30 PM IST
14,ENGLAND WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium,",NAVI MUMBAI,"14 DECEMBER, 2023",9:30 AM IST
15,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium,",Johannesburg,"14 DECEMBER, 2023",9:30 PM IST
16,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,Johannesburg,"17 DECEMBER, 2023",2:00 PM IST
17,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park,",Gqeberha,"19 DECEMBER, 2023",2:00 PM IST
18,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"21 DECEMBER, 2023",9:30 AM IST
19,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park,",Paarl,"21 DECEMBER, 2023",2:00 PM IST
20,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park,",Centurion,"26 DECEMBER, 2023",1:30 PM IST
21,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"28 DECEMBER, 2023",2:00 PM IST
22,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"30 DECEMBER, 2023",2:00 PM IST
23,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"2 JANUARY, 2024",2:00 PM IST
24,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands,",Cape Town,"3 JANUARY, 2024",1:30 PM IST
25,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium,",NAVI MUMBAI,"5 JANUARY, 2024",7:00 PM IST
26,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium,",NAVI MUMBAI,"7 JANUARY, 2024",7:00 PM IST
27,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium,",NAVI MUMBAI,"9 JANUARY, 2024",7:00 PM IST
28,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",Mohali,"11 JANUARY, 2024",7:00 PM IST
29,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",Indore,"14 JANUARY, 2024",7:00 PM IST
30,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,",Bengaluru,"17 JANUARY, 2024",7:00 PM IST
31,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium,",Hyderabad,"25 JANUARY, 2024",9:30 AM IST
32,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,Visakhapatnam,"2 FEBRUARY, 2024",9:30 AM IST
33,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",Rajkot,"15 FEBRUARY, 2024",9:30 AM IST
34,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex,",Ranchi,"23 FEBRUARY, 2024",9:30 AM IST
35,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,",Dharamsala,"7 MARCH, 2024",9:30 AM IST

In [177]:
driver.close()